<%- include('partials/head'); %>
<body>
  <%- include('partials/header'); %>

    <div>
        
    </div>
    
    <main>
        <div class ="container">

            <% for (let i = 0; i < results.length; i++) { %>
            <div class="topicHead">
                <div class="grid-item">
                    <a href="void(0);">up</a>
                    <%= results[i].score %></div>
                    <a href="void(0);">down</a>
                <div class="grid-item"><h2><%= results[i].title %></h2></div>
                <div class="grid-item">
                    submitted
                    <%= Math.floor(results[i].secondsPassed / 3600000) %>
                    hours ago by
                    <%= results[i].user %>
                    0
                    comments
                </div>
            </div>
            <%}%>

        </div>
    </main>

  <%- include('partials/footer'); %>
</body>
</html>
